body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background: url('ФОН-КАРТИНКА.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

.title {
  font-size: 3em;
  margin-top: 40vh;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.title:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.6);
}
