body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  background-image: url('shrek_background.jpg'); /* пока заглушка — потом вставим реальную картинку */
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px #000;
  cursor: pointer;
  transition: transform 0.3s;
}

.title:hover {
  transform: scale(1.1);
}
#donkey {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: donkey-animation 3s infinite;
}

@keyframes donkey-animation {
  0% {
    bottom: -100px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: -100px;
  }
}
